################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Webdriver/obj
/Webdriver/bin/Debug/netcoreapp3.0
/Webdriver/.vs/Webdriver
/.vs
/Webdriver Specflow/.vs/Webdriver Specflow/v16
/Webdriver Specflow/obj
/Webdriver Specflow/.vs/Webdriver Specflow/DesignTimeBuild
/Webdriver Specflow/bin/Debug/netcoreapp3.0
