################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Webdriver/obj
/Webdriver/bin/Debug/netcoreapp3.0
/Webdriver/.vs/Webdriver
/.vs
